@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body{
  background: radial-gradient(circle, rgb(4, 6, 7) 0%, rgba(147, 198, 215, 0.16) 77%);
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  backdrop-filter: blur(10px);
}
.icon {
  width: 34px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #bfc9c4;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background: rgb(144,144,144);
background: linear-gradient(0deg, rgba(144,144,144,1) 0%, rgb(132, 192, 152) 100%);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.result {
  font-weight: bold;
  margin-top: 40px;
  border: 1px solid #bfc9c4;
    border-radius: 4px;
    padding: 12px 16px;
  background: linear-gradient(0deg, rgb(206, 220, 227) 33%, rgb(184, 199, 210) 53%, rgb(213, 222, 241) 100%);
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card {
  background-color: #bdbaba;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px rgba(12, 12, 0, 0.55);
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: calc(33.33% - 1rem);
  width: 100%;
}
.card-inner {
  background: linear-gradient(0deg, rgb(206, 220, 227) 33%, rgb(200, 220, 234) 53%, rgb(213, 222, 241) 100%);
  color: rgb(4, 6, 7);
}